@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
   --black: rgb(0 1 18);
  --color-very-dark-grey-dark-bg: rgb(32 33 44);
  --color-dark-grey: rgb(43 44 55);
  --color-lines-dark: rgb(62 63 78);
  --color-medium-grey: rgb(130 143 163);
  --color-lines-light: rgb(228 235 250);
  --color-light-grey-light-bg: rgb(244 247 253);
  --color-white: rgb(255 255 255);
  --color-main-purple: rgb(99 95 199);
  --color-main-purple-hover: rgb(168 164 255);
  --color-red: rgb(234 85 85);
  --color-red-hover: rgb(255 152 152);
  

  --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
}

body {
  @apply dark:bg-very-dark-grey-dark-bg bg-white h-screen;
}

.board-layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'sidebar header'
      'sidebar content';
    width: 100vw;
    height: 100vh;
}

@layer components {
  .heading-xl {
    @apply text-2xl font-bold;
  }

  .heading-l {
    @apply text-lg font-bold;
  }

  .heading-m {
    @apply text-[15px] font-bold;
  }

  .heading-s {
    @apply text-xs font-bold;
  }

  .typo-body-m {
    @apply text-sm font-medium leading-6;
  }

  .typo-body-b {
    @apply text-xs font-bold leading-3.5;
  }

  .primary-btn-l {
    @apply w-64 h-10 rounded-3xl dark:bg-main-purple dark:hover:bg-main-purple-hover dark:text-white text-[px] font-bold transition-colors duration-200 ease-in-out cursor-pointer;
  }

  .primary-btn-m {
    @apply w-65 h-10 rounded-3xl dark:bg-main-purple dark:hover:bg-main-purple-hover dark:text-white text-[13px] font-bold transition-colors duration-200 ease-in-out cursor-pointer;
  }

  .secondary-btn {
    @apply w-64 h-10 rounded-3xl dark:bg-white dark:text-main-purple text-[13px] font-bold cursor-pointer;
  }

  .delete-btn {
    @apply w-64 h-10 rounded-3xl dark:bg-red dark:hover:bg-red-hover dark:text-white text-[13px] font-bold transition-colors duration-200 ease-in-out cursor-pointer;
  }

  .custom-scrollbar {
    @apply [&::-webkit-scrollbar]:w-1.5
           [&::-webkit-scrollbar-track]:m-4
           [&::-webkit-scrollbar-thumb]:rounded-full
           [&::-webkit-scrollbar-thumb]:bg-gray-300
           [&::-webkit-scrollbar-track]:rounded-full
           [&::-webkit-scrollbar]:h-1
           [&::-webkit-scrollbar-track]:h-2
           [&::-webkit-scrollbar-thumb]:h-2
           [&::-webkit-scrollbar-thumb]:w-2
           [&::-webkit-scrollbar-track]:bg-gray-100
           dark:[&::-webkit-scrollbar-track]:bg-neutral-700
           dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500;
  }
}

