label:has(:focus:invalid) {
  color: tomato;
}

label:has(:focus:valid) {
  color: limegreen;
}

label:has(:focus-visible:invalid) input{
  outline-color: pink;
}

label:has(:focus-visible:valid) input {
  outline-color: lightgreen;
}

input { 
  transition: all 0.3s;
}

.column-empty input {
  outline-color: tomato;
}

.column-empty::after {
  content: "Can't be empty";
  position: absolute;
  right: 10px; /* Ajusta según necesites */
  top: 35%;
  /* transform: translateY(-50%); */
  font-size: 14px;
  color: red;
}